bin/
obj/
publish/
[Bb]uild/
[Ll]og/
[Ll]ogs/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/
.history/
*.code-workspace

.idea/
*.iml

*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

*.tmp
*.temp
*.bak
*.old
*.orig

[Dd]esktop.ini
[Tt]humbs.db
ehthumbs.db
$RECYCLE.BIN/
*.DS_Store

*.pubxml
*.publishproj

secrets.json

*.pdb
*.dbmdl
*.jfm
*.stackdump